.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: relative;
    height: 100vh;
    background-color: var(--lavender);
}

.title {
    color: var(--lavender);
}

.linkButton {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}