.exitButton {
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: bolder;
    align-items: center;
    background-color: var(--button-blue-hover);
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}
.exitButton:hover {
    background-color: var(--transparent-white);
    color: var(-yale-blue);
}